.card{
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-rows: minmax(100%,1fr);
    grid-template-areas: "cards";
    overflow: hidden;
    border-radius: 10px;
    border:5px solid red;
  }
  
  .card img{
    grid-area: cards;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card figcaption{
    grid-area: cards;
    position: relative;
    background: #000000f0;
    transform: translateY(calc(100% - 3rem));
    transition: transform 600ms;
    padding: 0px 20px 20px 20px;
  }
  
  .card h3{
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }


  .card p{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    margin-top: 20px;
    padding: 5px 7px;
    border-radius: 5px;
  }
  
  .card figcaption a{
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: var(--primary-color);
    background-color: transparent;
    text-align: center;
  }

  .card figcaption a:hover{
    color: #f1f1f1;
  }

  .link1{
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .link2{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .card:hover figcaption{
    transform: none;
  }

  