 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-body:  #222;         /*#1c1c1c   */
    --bg-alt: #1c1c1c; /* #48444c  #050506 */
    --text-color: #f5f2f5e8; /*     #48444c*/

    --primary-color:#c1a243;/*      #986719      #3014EE*/  
    --header-height:70px;
}

html{
    scroll-behavior: smooth;
    background-color: var(--bg-body);
    color: var(--text-color);
    overflow-x: hidden;
}

html{
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-body);
}
.hero{
    width: 100vw; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    position: relative;
}

.hero-title{
    width: clamp(400px,50vw,700px);
    font-weight: 800;
    display: block;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    -webkit-text-stroke: 5px var(--text-color);
}

.hero .shape{
    width: 100vw;
    height: 100vw;
    background-color: var(--bg-body);
    position: absolute;
    border-radius: 50%;
    right: -50%;
    border: dashed black 5px;
    z-index: -1;
}

.hero .picture{
    height: 150vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.masque img{
    mask-image: linear-gradient( black 100%, transparent);
}

 

/*------------HERO NAV START-----------*/

.hero-nav{
    position: fixed;
    bottom: 10px;
    width: 100vw;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}

.hero-nav div{
    width: 150px;
    height: 70px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
}

.hero-nav div a{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: var(--bg-alt);
    text-align: center;
    justify-content: center;
    border-radius: 50%;
}

.hero-nav .btn{
    width: 150px;
    height: 70px;
    background-color: var(--primary-color);
    color: var(--bg-alt);
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px;
}

.hero-nav .btn:hover{
    background-color:var(--bg-alt) ;
    color: var(--primary-color);
}
.hero-nav div a svg{
    width: 100%;
    height: 100%;
    fill: transparent;
    border: solid var(--primary-color) 2px;
    border-radius: inherit;
}
.hero-nav div a:last-child{
    margin-left: 10px;
}

.hero-nav div a svg:hover{
    background-color: var(--primary-color);
    border: solid var(--primary-color) 2px;
}
/*------------HERO NAV END-----------*/

.cards{
    width: 100vw;
    background-color: var(--bg-body);
    display: flex;
    flex-direction: column; padding-top: 100px;  
}

.box{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    border: solid var(--bg-alt) 3px;
    border-radius: 20px;
    overflow: hidden;
    margin: 30px auto;
}

.box .box-text{
    width: clamp(300px,60%,60vw);
    display: block;
    height: 90%;
    
}

.temporadas .box-text p{
    font-size: 2vw;
}
.box-text span{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 5vw;
}

.box-text p{
    font-size: 2.5vw;
    margin: auto 20px;
}
.box .box-img{
    width: clamp(400px,40%,40vw);
    height:clamp(400px,40%,40vw) ;
}

.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 768px){
    html{
        max-width: 100vh;
        overflow-x: hidden;
    }

    .hero .picture{
        
        display: none;
        
    }
    .picture img{
        display: none;
    }

    
    .box .box-img{
        width: 100%;
    }
    .box-text p{
        font-size: 2.3rem;
        margin: 15px 20px;
        padding: 20px auto;
        width: 100%;
    }
    .box-text span{
        font-size: 5rem;
        margin:  20px;
    }
}

@media (max-width: 480px){
    html{
        max-width: 100vh;
        overflow-x: hidden;
    }

    .hero .picture{  
        display: none;   
    }
    .shape{
        display: none; 
    }
    .picture img{
        display: none;
    }

    .box-text p{
        font-size: 1.3rem;
        padding: 20px auto;
        width: 100%;
    }
    .box-text span{
        font-size: 2rem;
        margin:  20px auto;
    }

    .temporadas .box-text p{
        font-size: 1.3rem;
        padding: 20px auto;
        width: 100%;
    }

    .hero-title{ 
        font-weight: 500;
        display: block;
        font-size: 4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--primary-color);
        -webkit-text-stroke: var(--primary-color);
    }
}